body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Press Start 2P', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #36253B;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 30px);
  grid-template-rows: minmax(50px, auto) repeat(5, 30px);
  box-shadow: 4px 4px 0 #262626;
  background-color: #464646;
  border: 4px solid #2F2F2F;
  border-radius: 8px;
  padding: 8px;
  gap: 6px;
}

.output {
  grid-column: 1 / -1;
  background-color: #333;
  color: #00FF00;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  border-radius: 4px;
  box-shadow: inset 2px 2px 0 #1F1F1F;
  height: 50px;
  overflow-x: auto;
  text-overflow: initial;
  white-space: nowrap;
  margin-bottom: 5px;
}

button {
  font-size: 0.8rem;
  border: 2px solid #1F1F1F;
  background-color: #5A5A5A;
  color: #FFFFFF;
  box-shadow: 2px 2px 0 #262626;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  width: 100%;
  height: 100%;
}

button:active {
  box-shadow: 1px 1px 0 #262626;
  transform: translate(1px, 1px);
}

.span-two {
  grid-column: span 2;
  background-color: #A6524E;
}

button.operation {
  background-color: #8A8A8A;
}

button.digit:hover, button.operation:hover {
  filter: brightness(1.2);
}
